Repository iffatandriano/ia-techtest-phonebook: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint

build: setup emotion
  .babelrc
  package.json
  yarn.lock
Due: prettier --write

build: jest setup
  jest.config.js
  jest.setup.js
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

build: apolloClient Setup
  .env
  next.config.js
  package.json
  pages/_app.tsx
  pages/index.tsx
  yarn.lock
Due: prettier --write, eslint

build: setup phonebook components
  components/FavoriteContact/index.tsx
  components/MainContact/index.tsx
  components/SearchContact/index.tsx
  components/SortContact/index.tsx
  pages/index.tsx
  styles/Home.module.ts
Due: prettier --write, eslint

build: implement functionality and apollo client graphql
  .env
  __mocks__/contactlist.js
  components/DropdownMenuSetting/ModalSetting/index.tsx
  components/DropdownMenuSetting/index.tsx
  components/FavoriteContact/index.tsx
  components/MainContact/ModalContact/index.tsx
  components/MainContact/index.tsx
  components/SearchContact/index.tsx
  components/SortContact/index.tsx
  components/constant/index.ts
  lib/apollo.ts
  lib/context/createContext.tsx
  lib/context/useContext.tsx
  lib/graphql/index.ts
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  pages/index.tsx
  styles/FavoriteContact.module.js
  styles/Home.module.css
  styles/Home.module.js
  styles/Home.module.ts
  yarn.lock
Due: prettier --write, stylelint --fix, eslint

fix: error
  .husky/pre-commit
  components/SortContact/index.tsx
Due: prettier --write, eslint

fix: value unused
  pages/api/hello.ts
Due: prettier --write, eslint

Update README.md
  README.md
Due: prettier --write

Delete .env
  .env
Due: none

Path conditions:
  prettier --write: (any of: *.{json,md,yaml,yml}) or (any of: *.{js,ts,tsx})
  stylelint --fix: any of: *.{css,sass,scss}
  eslint: any of: *.{js,ts,tsx}
